@{
    ViewData["Title"] = "داشبورد";
}
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-user">
            <div class="text-center">
                <h2 class="text-custom" data-plugin="counterup">6599</h2>
                <h5>تعداد اجناس</h5>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-user">
            <div class="text-center">
                <h2 class="text-pink" data-plugin="counterup">5894</h2>
                <h5>مجموع فروش</h5>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-user">
            <div class="text-center">
                <h2 class="text-warning" data-plugin="counterup">452</h2>
                <h5>آنالیز فروش</h5>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-user">
            <div class="text-center">
                <h2 class="text-info" data-plugin="counterup">1254</h2>
                <h5>فروش روزانه</h5>
            </div>
        </div>
    </div>
</div>