<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="/admin/assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">@User.Identity.Name </a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>

                <li>
                    <a href="/" class="text-custom">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">منو </li>

                <li>
                    <a href="/admin/default/index" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> داشبورد </span> </a>
                </li>

                <li>
                    <a href="/admin/Service/index" class="waves-effect">
                        <i class="zmdi zmdi-toys"></i>
                        <span>
                            خدمات
                        </span>
                    </a>
                </li>


                <!--فاکتور ها-->
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect ">
                        <i class="zmdi zmdi-comment-text"></i>
                        
                        <span>
                            فاکتور ها
                        </span>
                        <span class="menu-arrow">
                        </span>
                    </a>

                    <ul class="list-unstyled">
                        <li class="active">
                            <a href="/admin/Factors/index">
                                فاکتور ها
                            </a>
                        </li>
                        <li class="active">
                            <a href="/admin/Post/index">
                                ارسال پست
                            </a>
                        </li>
                    </ul>
                </li>


                <!--محصولات -->
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect ">
                        <i class="zmdi zmdi-local-offer"></i>
                        
                        <span>
                           محصولات
                        </span>
                        <span class="menu-arrow">
                        </span>
                    </a>

                    <ul class="list-unstyled">
                        <li class="active">
                            <a href="/admin/Product/index">
                               محصولات
                            </a>
                        </li>
                        <li class="active">
                            <a href="/admin/Category/index">
                               دسته ها
                            </a>
                        </li>
                        <li class="active">
                            <a href="/admin/Group/index">
                                گروه  ها
                            </a>
                        </li>
                        <li class="active">
                            <a href="/admin/Brand/index">
                                برند  ها
                            </a>
                        </li>
                    </ul>
                </li>


                <!--تنظیمات -->
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect ">
                        <i class="zmdi zmdi-settings"></i>
                        <span>
                           تنظیمات
                        </span>
                        <span class="menu-arrow">
                        </span>
                    </a>

                    <ul class="list-unstyled">
                        <li class="active">
                            <a href="/admin/Setting/index">
                                تنظیمات
                            </a>
                        </li>
                        <li class="active">
                            <a href="/admin/Social/index">
                              شبکه های اجتماعی
                            </a>
                        </li>
                        <li class="active">
                            <a href="/admin/AbouteUs/index">
                               درباره ما
                            </a>
                        </li>
                        <li class="active">
                            <a href="/admin/ContactUs/index">
                                تماس با ما
                            </a>
                        </li>
                    </ul>
                </li>

                <!--تصاویر -->
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect ">
                        <i class="zmdi zmdi-picture-in-picture"></i>
                        <span>
                            تصاویر
                        </span>
                        <span class="menu-arrow">
                        </span>
                    </a>

                    <ul class="list-unstyled">
                        <li class="active">
                            <a href="/admin/Slider/index">
                              اسلایدر
                            </a>
                        </li>
                        <li class="active">
                            <a href="/admin/Advertise/index">
                              تصاویر تبلیغاتی
                            </a>
                        </li>
                
                    </ul>
                </li>


                <!--بلاگ -->
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect ">
                        <i class="zmdi zmdi-blogger"></i>
                        <span>
                           مقالات
                        </span>
                        <span class="menu-arrow">
                        </span>
                    </a>

                    <ul class="list-unstyled">
                        <li class="active">
                            <a href="/admin/Blog/index">
                      مقالات
                            </a>
                        </li>
                        <li class="active">
                            <a href="/admin/BlogCategory/index">
           دسته مقالات
                            </a>
                        </li>
                              <li class="active">
                            <a href="/admin/BlogGroup/index">
                   گروه مقالات
                            </a>
                        </li>
                    </ul>
                </li>


                <!--کاربران -->
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect ">
                        <i class="zmdi zmdi-account"></i>
                        <span>
                            کاربران
                        </span>
                        <span class="menu-arrow">
                        </span>
                    </a>

                    <ul class="list-unstyled">
                        <li class="active">
                            <a href="/admin/User/index">
                               کاربران
                            </a>
                        </li>
                        <li class="active">
                            <a href="/admin/Role/index">
                              نقش ها
                            </a>
                        </li>
                   
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>