@model Setting
@{
    ViewData["Title"] = "ویرایش تنظیمات " + Model.SettingSiteName;
}

<h4 class="header-title m-t-0 m-b-30">
    @ViewData["Title"]
</h4>

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="row">
                <a asp-action="Index" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5 " style="    float: left;">
                    بازگشت
                </a>
                <div class="col-lg-8 col-lg-offset-2">
                    <form class="form-horizontal" role="form" asp-action="Edit" method="post" enctype="multipart/form-data">
                        <input asp-for="Id" hidden/>
                        <div class="form-group">
                            <label class="col-md-2 control-label">نام سایت</label>
                            <div class="col-md-10">
                                <input asp-for="SettingSiteName" class="form-control" placeholder="نام سایت">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="example-email">نام فروشگاه</label>
                            <div class="col-md-10">
                                <input asp-for="SettingShopName" class="form-control" placeholder="نام فروشگاه">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="example-email">شماره تلفن </label>
                            <div class="col-md-10">
                                <input asp-for="SettingPhoneNumber" class="form-control" placeholder="نام تلفن">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"> تصویر  </label>
                            <div class="col-md-10">
                                <img src="@Model.SettingLogo" width="150" />
                                <input asp-for="SettingLogo" hidden />

                                <input name="SettingLogoFile" class="form-control" type="file">
                                <input asp-for="SettingLogo" hidden value="-">

                                <span asp-validation-for="SettingLogo" style="color:red"></span>

                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">آدرس</label>
                            <div class="col-md-10">
                                <textarea asp-for="SettingAddress" class="form-control">

                              </textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-success waves-effect waves-light">ذخیره </button>

                    </form>
                </div><!-- end col -->
            </div>
        </div>
    </div>
</div>


